<h3>{{ post.title }}</h3>
<ul>
    <li>Post ID: {{ post.id }}</li>
    <li>Content: {{ post.content }}</li>
    <li>Author: {{ post.author }}</li>
    <li>Date: {{ post.date|date('d M Y H:i:s') }}</li>
</ul>
